*{
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;

    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 900px;

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/coding.jpg);
    background-color: #5d8fb4;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;

    width: 750px;
    margin-top: 75px;
    margin-bottom: 95px;

    justify-content: space-between;
}

.nav-link{
    font-size: 36px;

    text-decoration: none;

    color: white;
}
.nav-link:hover{
    color: #f2cd38;
}
.nav-link:active{
    opacity: 0.5;
    color: #f2cd38;
}

.photo-wrapper{
    overflow: hidden;

    width: 215px;
    height: 215px;
    margin-bottom: 50px;

    border-radius: 250px;
    background: #f5d41c;
}

.photo-img{
    max-width: 100%;
    height: auto;
}

.title{
    font-size: 58px;
    font-weight: 700;

    margin-bottom: 10px;

    color: #fff;
}

.slogan{
    font-size: 36px;

    margin-bottom: 60px;

    text-align: center;

    color: #fff;
}

.social-wrapper{
    display: flex;
    flex-direction: row;

    width: 600px;
    height: 100px;

    justify-content: center;
}

.social-icon{
    font-size: 28px;

    display: flex;

    width: 50px;
    height: 50px;
    margin: 10px;

    text-decoration: none;

    color: black;
    border-radius: 50%;
    background: #fff;

    justify-content: center;
    align-items: center;
}

.social-icon .fa-vk{
    color: rgb(51, 109, 156);
}

.social-icon .fa-linkedin-in{
    color: rgb(2, 103, 185);
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-right: 15px;
    padding-bottom: 100px;
    padding-left: 15px;
}
.wrapper-content{
    display: flex;

    justify-content: space-between;
}
.about-photo{
    max-width: 470px;
    padding-right: 15px;
}
.about-photo-img{
    max-width: 100%;
    height: auto;
}
.about-content{
    width: 570px;
}
.about-content p{
    font-size: 22px;
    line-height: 1.4;
}
.about-title{
    font-size: 58px;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 20px;

    color: #17609e;
}
.about-list{
    margin-top: 0;
    padding-left: 20px;

    list-style-type: circle;
}
/* site */
.container-fluid{
    background-color: #292929;
}
.title{
    font-size: 58px;

    margin-bottom: 15px;

    text-align: center;

    color: #fff;
}
.site-slogan{
    font-size: 36px;

    padding-bottom: 85px;

    text-align: center;

    color: #fff;
}
.site{
    display: flex;

    justify-content: space-between;
}
.site-wrap{
    margin-right: 10px;
}
.site-wrap:last-child{
    margin-right: 0;
}
.site-wrap-img img{
    min-width: 191px;
    max-width: 100%;
    height: auto;
    min-height: 160px;
}
.site-wrap__desc h3{
    font-size: 36px;

    margin-bottom: 15px;

    color: #fff;
}
.site-wrap__desc a{
    color: #a0d4fa;
}
.site-wrap__desc a:hover{
    color: #f2cd38;
}
